body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Head_Points {
  /* width:auto;
  height:30px; */
  /* position: absolute; */
  float: left;
  background-color:none;
  font-size: xx-large;
  /* opacity: 1; */
  /* border-radius: 20%; */
  padding:0.1em;
  border-style: solid;
  border-color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 2;
  /* display:grid;
   */
  /* position: relative; */
  
  /* z-index: 1; */
}
